@font-face {
    font-family: Verdana;
    src: url("../fonts/Verdana.ttf") format("ttf"),
         url("../fonts/Verdana.woff") format("woff"),
         url("../fonts/Verdana.eot") format("eot");
}
@font-face {
    font-family: Verdana;
    src: url("../fonts/Verdana-Bold.ttf") format("ttf"),
        url("../fonts/Verdana-Bold.woff") format("woff"),
        url("../fonts/Verdana-Bold.eot") format("eot");
    font-weight: bold;
}


/************ BASIC   *****
**************************/

body {
    font-family: Verdana;
    font-size: 14px;
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
}

.wrapper {
    width: 88%;
    margin: auto;
}

/************ HEADER  *****
**************************/

.page-header {
    height: 55px;
    background: radial-gradient(
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5));
}

.flex, .menu {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}
.logo a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.428rem;
    transition: color 1s, text-shadow 1s;
}
.logo a:hover {
    color: #3cb878;
    text-shadow: 3px 3px 3px #fff;
}
.tools {
    width: 200px;
}
.tools a {
    display: inline-block;
    margin-right: 25px;
}
.icon {
    width: 28px;
    height: 20px;
    background: url("../images/css_sprites.png") no-repeat;
}
.icon.calendar {
    background-position: -103px -49px;
}
.icon.chat {
   background-position: -58px -10px;
}
.icon.compass {
    background-position: -46px -50px;
}
.icon.calendar:hover {
    background-position: -103px -10px;
}
.icon.chat:hover {
    background-position: -10px -10px;
}
.icon.compass:hover {
    background-position: -6px -50px;
}
.welcome a {
    color: #3cb878;
    text-decoration: none;
}
.welcome a:hover {
    border-bottom: 1px solid rgba(61,168,111,0.7);
}
.tools::after {
    content: "";
    display: block;
    height: 20px;
    width: 1px;
    background-color: #8e8e8e;
    position: absolute;
    top: 18px;
    right: 300px;
}

/************ MAIN *****
**************************/

.banner {
    height: 710px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.form {
    width: 445px;
    height: 585px;
    margin: auto;
    background-color: #ffffff;
    color: #434343;
    border-radius: 10px;
}
.form-wrapper {
    width: 77%;
    margin: auto;
    padding-top: 30px;
}
.form a {
    text-decoration: none;
}
.active-sign {
    color: #434343;
    text-transform: capitalize;
    font-size: 1.428rem;
    position: relative;
    display: inline-block;
}
.active-sign::before {
    content: "";
    display: block;
    height: 18px;
    width: 18px;
    background-color: #3cb878;
    position: absolute;
    top: 5px;
    left: -51px;
}
.login, label a {
    color: #3cb878;
}
.login {
    text-transform: capitalize;
    float: right;
    display: inline-block;
    margin-top: 7px;
}
.login:hover {
    border-bottom: 1px solid rgba(61,168,111,0.7);
}
.social-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.social-btn a {
    color: #fff;
}
.soc-btn {
    height: 45px;
    width: 48%;
    border-radius: 3px;
    text-align: center;
    font-size: 1.14rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    transition: width 1s, height 1s, box-shadow 1s;
}
.soc-btn:hover {
    height: 47px;
    width: 50%;
    box-shadow: 3px 5px 10px darkslategrey;
}
.facebook {
    background-color: #305db8;
}
.google {
    background-color: #df4a32;
}
.facebook::after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    top: 8px;
    left: 48px;
}
.google::after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    top: 8px;
    left: 54px;
}
.form-wrapper p {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #8e8e8e;
    text-align: center;
    position: relative;
}
.form-wrapper p::after {
    content: "";
    display: block;
    height: 1px;
    width: 135px;
    background-color: #eaeaea;
    position: absolute;
    top: 8px;
    right: 0;
}
.form-wrapper p::before {
    content: "";
    display: block;
    height: 1px;
    width: 135px;
    background-color: #eaeaea;
    position: absolute;
    top: 8px;
}
.input {
    width: 100%;
    height: 46px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    margin-top: 9px;
}
.input::placeholder {
    color: #d9d9d9;
    padding-left: 15px;
}
.checkbox {
    display: none;
}
.label {
    position: relative;
    display: inline-block;
    margin-top: 23px;
    margin-left: 30px;
}
.label::before {
    content: "";
    display: inline-block;
    color: #3cb878;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    font-size: 1.14rem;
    position: absolute;
    top: -4px;
    left: -30px;
    text-align: center;
}
.input:checked + .label::before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f00c";
    font-weight: 900;

}
.btn {
    background-color: #3cb878;
    color: #ffffff;
    font-size: 1.14rem;
    margin-top: 25px;
    border-radius: 3px;
    padding: 0 0;
    border: 2px #3cb878 solid;
    transition: width 1s, height 1s, box-shadow 1s;
}
.btn:hover {
    width: 101%;
    height: 50px;
    box-shadow: 3px 5px 10px darkslategrey;
}
.terms:hover {
    border-bottom: 1px solid rgba(61,168,111,0.7);
}
.input:focus {
    box-shadow: 2px 5px 10px #d6d6d6;
    padding-left: 15px;
    color: #434343;
    box-sizing: border-box;
}